#publ {
font-family: serif;
text-align: left;
font-size: 10.5pt;
margin-left: 540px;
}

#dest {
font-family: serif;
text-align: left;
font-size: 10.5pt;
}

#titl {
font-family: serif;
text-align: center;
font-weight: bold;
font-size: 12pt;
}

#main {
font-family: serif;
text-align: left;
font-size: 10.5pt;}
